services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: rust_api_dev
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - .:/app
    environment:
      RUST_ENV: dev

  db:
    image: postgres:16
    container_name: rust_db_dev
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rust_dev
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata_dev:
